In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale

In [19]:
df = pd.read_csv("C:\\Users\\Swathi\\Desktop\\Excelr Classes\\Assignments\\17.Neural Networks\\50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [21]:
df.shape

(50, 5)

In [22]:
df=df.iloc[:,[4,0,1,2,3]]
df.head()

      Profit  R&D Spend  Administration  Marketing Spend       State
0  192261.83  165349.20       136897.80        471784.10    New York
1  191792.06  162597.70       151377.59        443898.53  California
2  191050.39  153441.51       101145.55        407934.54     Florida
3  182901.99  144372.41       118671.85        383199.62    New York
4  166187.94  142107.34        91391.77        366168.42     Florida

In [23]:
df.isnull().sum()

Profit             0
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
dtype: int64

In [24]:
df.columns

Index(['Profit', 'R&D Spend', 'Administration', 'Marketing Spend', 'State'], dtype='object')

In [25]:
df=pd.get_dummies(df,columns=['State'])
df.head()

,Profit,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,192261.83,165349.20,136897.80,471784.10,0,0,1
1,191792.06,162597.70,151377.59,443898.53,1,0,0
2,191050.39,153441.51,101145.55,407934.54,0,1,0
3,182901.99,144372.41,118671.85,383199.62,0,0,1
4,166187.94,142107.34,91391.77,366168.42,0,1,0

In [26]:
df.loc[df.Profit <= 100000,'Profit']= 0
df.loc[df.Profit != 0,'Profit'] = 1

In [27]:
df.head()

,Profit,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,1.0,165349.20,136897.80,471784.10,0,0,1
1,1.0,162597.70,151377.59,443898.53,1,0,0
2,1.0,153441.51,101145.55,407934.54,0,1,0
3,1.0,144372.41,118671.85,383199.62,0,0,1
4,1.0,142107.34,91391.77,366168.42,0,1,0

In [28]:
X=df.iloc[:,1:7]
y=df.iloc[:,0]

In [29]:
X.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State_California',
       'State_Florida', 'State_New York'],
      dtype='object')

In [30]:
X=scale(X)

In [35]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5), random_state=1)
clf.fit(X,y)

pred_values = clf.predict(X)

In [36]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y,pred_values)

1.0

In [37]:
confusion_matrix = confusion_matrix(y,pred_values)
confusion_matrix

array([[20,  0],
       [ 0, 30]], dtype=int64)

In [38]:
classification_report = classification_report(y,pred_values)
print(classification_report)

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        20
         1.0       1.00      1.00      1.00        30

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

In [39]:
np.mean((y==pred_values)*100)

100.0