# Import Library

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale

# Load Data

In [2]:
df = pd.read_csv("C:\\Users\\Swathi\\Desktop\\Excelr Classes\\Assignments\\17.Neural Networks\\forestfires.csv")
df.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [3]:
df=df.iloc[:,[30,6,7,8,9]]
df.head()

  size_category  temp  RH  wind  rain
0         small   8.2  51   6.7   0.0
1         small  18.0  33   0.9   0.0
2         small  14.6  33   1.3   0.0
3         small   8.3  97   4.0   0.2
4         small  11.4  99   1.8   0.0

In [4]:
df.describe()
df.shape

(517, 5)

In [5]:
X=df.iloc[:,1:5]
y=df.iloc[:,0]

In [6]:
df.size_category.value_counts()

small    378
large    139
Name: size_category, dtype: int64

# Scale Data

In [7]:
X=scale(X)

# Develop model

In [8]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(10), random_state=1)
clf.fit(X,y)

pred_values = clf.predict(X)

C:\Users\Swathi\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

# Analyse Model

In [9]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y,pred_values)

0.7504835589941973

In [10]:
confusion_matrix = confusion_matrix(y,pred_values)
confusion_matrix

array([[ 11, 128],
       [  1, 377]], dtype=int64)

In [11]:
classification_report = classification_report(y,pred_values)
print(classification_report)

              precision    recall  f1-score   support

       large       0.92      0.08      0.15       139
       small       0.75      1.00      0.85       378

    accuracy                           0.75       517
   macro avg       0.83      0.54      0.50       517
weighted avg       0.79      0.75      0.66       517

In [13]:
np.mean((y==pred_values)*100)

75.04835589941973